.button {
  background-color: #6278f7;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  padding: 25px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 20px 0;
}

.button:hover {
  color: #95ffd4;
}
